header {
  background-color: #00FF33;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.book {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.book img {
  width: 150px;
  height: 200px;
  margin-right: 10px;
  float: left;
}

.book h3 {
  margin-top: 0;
}

.book p {
  margin: 0;
}

.book button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
/* Style for login form container */
.login-container {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
}

/* Style for login form input fields */
.login-form input[type="text"],
.login-form input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

/* Style for login form submit button */
.login-form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Style for login form submit button on hover */
.login-form button[type="submit"]:hover {
  background-color: #0062cc;
}

/* Style for login form error message */
.login-form .error-message {
  color: red;
  margin-bottom: 10px;
}
footer {
  position: absolute;
  bottom: 0;
  right: 0;
}